@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: 'Michroma', sans-serif;
  font-weight: bold;

  background: black;
  color: white;

  user-select: none;
}

#content {
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#before {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  letter-spacing: 5px;
  font-size: 1.5em;
  cursor: pointer;
}

#names {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin-bottom: 50px;
  color: orange;
}

#countdown {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

img#voidLogo {
  border-radius: 100%;
}

img#muteButton, img#musicButton {
  width: 4%;
  filter: invert(50%);
}

img#muteButton:hover, img#musicButton:hover {
  filter: invert(100%);
}

#toggleAudio {
  margin: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



span {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

span * {
  margin: 0 5px;
}

h2 {
  margin-bottom: 50px;
  color: orange;
}

audio {
  margin: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  img {
    width: 50%;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.2em;
  }

  #countdown {
    display: grid;
    justify-content: center;
    width: 80%;
   }

  #before {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}

@keyframes blink {
  0% {opacity: 0%;}
  50% {opacity: 100%;}
  100% {opacity: 0%;}
}